<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <!--<add name="MailQueue" connectionString="Data Source=localhost;Initial Catalog=MailQueue;User ID=DPuser;Password=U$3r1979;Persist Security Info=True;" providerName="System.Data.SqlClient" />-->
    <!--<add name="MailQueue" connectionString="Data Source:dpl-sql-server.database.windows.net;Initial Catalog=MailQueue;Persist Security Info=False;User ID=bfdd124cd6f37c;Password=009d24be;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    <add name="MailQueue" connectionString="Data Source:dpl-sql-server.database.windows.net;Initial Catalog=MailQueue;Persist Security Info=False;User ID=sqladmin;Password=Standpa$$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>