<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="MailQueue" connectionString="Server=tcp:dpl-sql-server.database.windows.net,1433;Database=dpl-sql-di101;Uid=sqladmin@dpl-sql-server;Pwd=SQL@dm!n;Encrypt=yes;TrustServerCertificate=no;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>